.usuarios {
    display: flex;
    width: 100%;
    flex-direction: column;

    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.usuarios__boton-redireccion-inicio {
    display: flex;
    width: 200px;
    height: 30px;

    margin: auto;
    margin-bottom: 10px;


    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}

.usuarios__boton-redireccion-inicio:hover {
    background-color: rgb(67, 67, 67);
}

.usuarios__contenedor-input {
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 22px;
}

.usuarios-input {
    display: flex;
    height: 30px;
    padding: 0px 10px;
    font-size: 18px;
}

.usuarios__contenedor-ul {
    list-style: none;
    width: 100%;
    max-width: 1200px;
}