.home__boton-redireccion {
    display: flex;
    width: 200px;
    height: 30px;

    margin: auto;
    margin-bottom: 10px;


    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}

.home__boton-redireccion:hover {
    background-color: rgb(67, 67, 67);
}