.usuarios {
    display: flex;
    width: 100%;
    flex-direction: column;

    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.usuarios__contenedor-input {
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 22px;
}

.usuarios-input {
    display: flex;
    height: 30px;
    padding: 0px 10px;
    font-size: 18px;
}

.usuarios__contenedor-ul {
    list-style: none;
    width: 100%;
    max-width: 1200px;
}